*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-style: 16px;
    color: #000;
    background-color: #e1d4c9;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1360px;
    margin: 0px auto;
}

.title {
    color: #403f3d;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.subtitle {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
}

._italic {
    color: #b0907a;
}

.button-primary {
    display: flex;
    position: relative;
    width: 200px;
    height: 64px;
    padding: 20px 78px;
    background-color: #e1d4c9;
    color: #403f3d;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.button-secondary {
    border-radius: 100px;
    border: 1px solid #665f55;
}

.slider-button {
    border-radius: 100px;
    border: 1px solid #665f55;
    background-color: transparent;
    padding: 1.3em;
}

.slider-button:hover {
    background-color: #665f55;
}

/*----arrow-icon--*/
.arrow {
    width: 24px;
    height: 24px;
}

.arrow #Vector {
    stroke: #403f3d;
    stroke-width: 2px;
}

/* Example hover styling */
.arrow:hover #Vector {
    stroke: #e1d4c9;
}

/*---------*/

.dash__button {
    padding: 2px 20px;
    border-radius: 100px;
    background-color: #c1b6ad;
}

.dash__button:hover {
    background-color: #665f55;
}

/* --------------------------HEADER------------------------ */

.header {
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.25em;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 456px;
    margin-top: 1em;
}

.nav_item {
    position: relative;
}

.nav_item_link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #403f3d;
    transition: width 0.5s ease-in-out;
}

.nav_item_link:hover::before {
    width: 100%;
}

.font_item {
    color: #403f3d;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.header__menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-btn {
    margin-right: 0.5em;
}

._inactive {
    cursor: default;
}

.active_btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #403f3d;
    transition: width 0.5s ease-in-out;
}

.active_btn:hover::before {
    width: 100%;
}

.header__hamburger {
    display: none;
}

.mobile-header {
    display: none;
}


/* -----------------------------MAIN------------------------------- */

.main {
    margin-top: 1.25em;
}

/*----------------------------ENJOY---------------------------------*/

.main__enjoy-section {
    background-image: url('./assets/img-hero.png');
    background-size: cover;
    position: relative;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 6.25em;
}

.enjoy-section__container {
    position: relative;
    z-index: 1;
    padding: 6.25em;
}

.enjoy-section__content {
    width: 49%;
}

.enjoy-section__title {
    color: #e1d4c9;
    font-family: 'Inter';
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;

    margin-bottom: 40px;
}

.enjoy-section_subtitle {
    color: #e1d4c9;
    margin-bottom: 40px;
    font-weight: 400;
}

.enjoy-section__btn-to-menu .btn-to-menu__text {
    position: absolute;
    transition: 0.5s;
}

.enjoy-section__btn-to-menu:hover .btn-to-menu__text {
    transform: translateX(-15px);
}

.enjoy-section__btn-to-menu .btn-to-menu__icon {
    position: absolute;
    top: 20px;
    left: 112px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.enjoy-section__btn-to-menu:hover .btn-to-menu__icon {
    opacity: 1;
}

/*--------------------------FAVORITE----------------------------------*/

.favorite-section__container {
    margin-bottom: 6.25em;
}

.favorite-section__title {
    margin-bottom: 0.7em;
    text-align: center;
}

.favorite-section__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-left {
}
.slider-button {
}
.slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3em;
}
.slider__info {
    width: 51%;
}

.slider__subtitle {
    margin-bottom: 0.7em;

    color: #403f3d;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.slider__description {
    margin-bottom: 0.7em;
    text-align: center;
}

.slider__dashes {
    width: 144px;
    margin-top: 1em;
}

/*--------------------------ABOUT----------------------------------*/

.main__about-section {
}

.about-section__container {
    margin-bottom: 6.25em;
}

.about-section__title {
    color: #403f3d;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-bottom: 0.66em;
}

.about-section__dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1100px;
}

.dashboard__item {
    margin-bottom: 40px;
}

._item {
    width: 660px;
    height: 430px;
    overflow: hidden;
}

._image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard__image {
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.dashboard__image:hover {
    transform: scale(0.9);
}

/*----------------------MOBILE-APP------------------------*/

.main__mobile-app-section {
}

.mobile-app-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6.25em;
}

.mobile-app-section__subtitle {
    margin-bottom: 2.5em;
}

.mobile-app-section__description {
    margin-top: 8em;
    width: 45%;
}

.mobile-app-section__title {
    margin-bottom: 0.68em;
}

.mobile-app-section__app-stores {
    display: flex;
}

.app-stores__button {
    width: 12.5em;
    margin-right: 1.5em;
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid #665f55;
}

.app-stores__button:hover {
    background-color: #665f55;
}

.app-stores__button-container {
    display: flex;
}

.app-stores__icon {
    margin-right: 0.8em;
}

.app-stores__title {
    color: #403f3d;
    text-align: start;
    font-weight: 600;
}

.app-stores__subtitle {
    color: #403f3d;
    text-align: start;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.app-stores__button:hover .app-stores__subtitle {
    color: #e1d4c9;
}

.app-stores__button:hover .app-stores__title {
    color: #e1d4c9;
}

.app-stores__description {
    width: 112px;
}

/*-------------------------FOOTER-----------------------*/

.footer {
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 40px;
    background: #665f55;
    padding: 6.25em;
    margin-bottom: 2.5em;
}

.footer__description {
    width: 45%;
}

.footer__title {
    color: #e1d4c9;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 0.66em;
}

.footer__contacts {
    padding-right: 16.8em;
}

.contacts__title {
    margin-bottom: 1.7em;

    color: #e1d4c9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.contacts__text {
    font-weight: 600;
    color: #e1d4c9;
}

.contacts__icon {
    margin-right: 0.5em;
}

.footer__social-icons {
    display: flex;
}

.social-button-icon {
    width: 3.75em;
    height: 3.75em;
    text-align: center;
    padding: 15px;
    margin-right: 0.9em;
    border-radius: 100px;
    border: 1px solid #c1b6ad;
    background-color: transparent;
    cursor: pointer;
}

.social-button-icon:hover {
    background-color: #e1d4c9;
}

.social-button-icon:hover path {
    stroke: #665f55;
}

/*-------------------------MENU--PAGE---------------------*/

.main__amazing-section {
}

.amazing-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
}

.amazing-section__title {
    text-align: center;
    max-width: 800px;
    font-weight: 600;
    margin-bottom: 0.67em;
}

/*button*/
.amazing-section__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 361px;
}

.amazing-section__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 0.5em;
    border: 1px solid #c1b6ad;
    border-radius: 100px;
    background: transparent;
    transition: ease-out 0.7s;
    cursor: pointer;
}

.amazing-section__active-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 0.5em;
    border: 1px solid #665f55;
    border-radius: 100px;
    background: #665f55;
    transition: ease-out 0.7s;
    color: #c1b6ad;
}

.amazing-section__button-icon-container {
    padding: 0.48em;
    border-radius: 100px;
    background: #c1b6ad;
}

.amazing-section__button p {
    color: #403f3d;
}

.amazing-section__button:hover > p:hover {
    color: #c1b6ad;
}

.amazing-section__button p:hover {
    color: #403f3d;
}

.amazing-section__button-title {
    font-weight: 600;
    padding: 0.5em;
}

.amazing-section__button:hover {
    border: 1px solid #665f55;
    background: #665f55;
}

.amazing-section__button.amazing-section__button-title:hover {
    color: #e1d4c9;
}

/*-------------------MENU-CARDS---------------------------*/

.main__menu-cards-section {
}

.menu-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
    margin-bottom: 6.25em;
}

.menu-cards__item {
    border-radius: 40px;
    border: 1px solid #c1b6ad;
    max-width: 310px;
    cursor: pointer;
}

.menu-cards__item:hover {
    transform: scale(0.9);
}

.menu-cards__header {
    border-radius: 40px;
    width: 100%;
    overflow: hidden;
}

.menu-cards__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.menu-cards__description {
    padding: 1.25em 1.25em 0 1.25em;
    max-width: 270px;
}

.menu-cards__title {
    margin-bottom: 0.5em;
    color: #403f3d;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.menu-cards__subtitle {
    margin-bottom: 0.5em;
    font-weight: 400;
    height: 4.5em;
}


/*-------------------MEDIA-----------------------------------------------*/


@media screen and (max-width: 768px) and (min-width: 381px) {

    .container {
        max-width: 688px;
    }

    .header__navigation-container {
        display: none;
    }

    .header__menu-container {
        display: none;
    }

    .header__hamburger {
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 16px 12px;

        cursor: pointer;
        background-color: transparent;
        border-radius: 100px;
        border: 1px solid #403f3d;
    }

    .bar {
        margin: 0 0 6px 0;
    }

    .header_logo {
        z-index: 100;    
    }

    .header__hamburger {
        z-index: 100;
    }

    .mobile-header {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: #E1D4C9;
        padding-top: 120px;
        transition: 0.4s;
    }

    .mobile-header.is-active {
        left: 0;
    }


    .header__navigation{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .font_item {
        font-size: 32px;
    }

    .nav_item {
        text-align: center;
    }

    .header__navigation .nav_item:not(:last-child) {
        margin-bottom: 3.75em;
    }

    .header__navigation .nav_item:last-child {
        margin-bottom: 6.25em;
    }

    .mobile-header__menu-container {
        margin: 0 auto;
        width: fit-content;
    }

    .header__menu-btn {
        margin: 0 auto;
    }

    .enjoy-section__container {
        padding: 6.25em 6.25em 6.25em 3.75em;
    }

    .enjoy-section__content {
        width: 100%;
    }

    .media_display {
        display: none;
    }

    .about-section__dashboard {
        height: auto;
    }

    .mobile-app-section__container {
        flex-direction: column;
    }

    .mobile-app-section__description {
        margin: 0 0 6.25em 0;
        width: 100%;
    }

    .footer__container {
        flex-direction: column;
        padding: 6.25em 3.75em;
    }

    .footer__description {
        width: 100%;
        margin-bottom: 6.25em;
    }

}